<link href="https://fonts.googleapis.com/css?family=Cinzel|Libre+Baskerville|Merienda|ZCOOL+XiaoWei" rel="stylesheet">

<div class="container-fluid">
  <div class="row topbar">
    <div class="col-md-2">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRGpkeQqIKjMoMMVB0YgdrNALja3UPJoRvxmtmD3mK1WlUUyxntOA">
    </div>

    <div class="title col-md-4">
      <h1>GitHub Searcher</h1>
      <!-- <h5><em>~ Find your coding partner ~</em></h5> -->
    </div>
    
    <div class="col-md-6">
      <nav>
        <!-- <ul>
          <li><a routerLink = '/display' routerLinkActive = 'active'>Search For A User</a></li>
          <hr>
          <li><a routerLink = '/repo' routerLinkActive = 'active'>Search For A User's Repository</a></li>
          <hr>
        </ul> -->
      </nav> 
    </div>   
  </div>
  <router-outlet></router-outlet> 
</div>