.title{
    text-align: center;
}
.search{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQH1EpBgPPLJZawjzt-Gb56xXReSXn6OadLbkzIV3vFTOxYwdrc);
    background-repeat: no-repeat;
    background-size: cover;
}