*{
    text-align: center;
}

h2{
    color: #ffc107;
    font-family: 'ZCOOL XiaoWei', serif;
}

input{
    width: 100%;
    margin-bottom: 1%;
    margin-top: 1%;
    font-family: 'Libre Baskerville', serif;
}

.output{
    padding: 5%;
    width: 100%;
    float: right;
    text-align: right;
    box-shadow: 5px 5px 5px grey;
    font-family: 'Merienda', cursive;
}

button, button a, h3{
    color: white;
    font-family: 'ZCOOL XiaoWei', serif;
}

h3{
    padding: 1.5%;
}

.item{
    margin-bottom: 5%;
}

@media only screen and (min-width: 812px) {
    .row{
        display: flex;
        justify-content: center;
    }
}