*{
    text-align: center;
    background-color:lightcoral;
}

h2{
    color:black;
    font-family: 'ZCOOL XiaoWei', serif;
}

input{
    width: 100%;
    margin-bottom: 2%;
    margin-top: 2%;
    font-family: 'Libre Baskerville', serif;
}

.output{
    padding: 5%;
    width: 100%;
    float: right;
    text-align: center;
    box-shadow: 5px 5px 5px rgb(128, 128, 128);
    font-family: sans-serif;
}

button, button a, h3{
    color:white;
    font-family: 'ZCOOL XiaoWei', serif;
}

h3{
    padding: 1.5%;
}

.item{
    margin-bottom: 30%;
}

.repo{
    margin-top:10%;
}

@media only screen and (min-width: 812px) {
    .row{
        display: flex;
        justify-content: center;
    }
}